#navbar{

    background-color:#e6e6e6;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 18px;
    font-weight: bold;
    background-color: #d9d9d9;
}
.navbar-light .navbar-nav .nav-item.active .nav-link

 {
   
    background:#730099;
    color: #fff;
}
.nav-link:hover{
    background:#730099 ;
    
}
.btn:hover{
    color: #fff;
     background-color:#730099;
    border-color:#730099;
    border: 1px solid #dd99ff;
}
.navbar-nav .btn{
    color: #730099;
    background-color:#e6e6e6;
    border-color:#730099;
    
}
body {
    background: rgb(72,9,113);
background: linear-gradient(90deg, rgba(72,9,113,1) 0%, rgba(136,84,179,1) 35%, rgba(255,255,255,1) 100%);
  }
#test{
  
    margin-left: 1400px;
}
#test1{
  
    margin-left: 1250px;
}


